* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #ffffff;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.navbar {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 16px;
  max-height: 50px;
  -webkit-box-shadow: 0px 1px 1px #88888864;
          box-shadow: 0px 1px 1px #88888864;
}

.navbar .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.navbar .right .menu-toggle-bar {
  margin-right: 16px;
  color: #34495e;
  font-size: 20px;
}

.navbar .right .logo {
  color: white;
  margin-left: 10px;
  height: 30px;
}

.navbar .mid {
  border-radius: 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar .mid .search-box {
  width: 400px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0;
  margin: 0;
  border: 1px solid #dadadb;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar .mid .search-box input {
  padding: 6px;
  height: 35px;
  border: none;
}

.navbar .mid .search-box .fa-solid {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 35px;
  width: 50px;
  color: #5c5c5c;
  background-color: #f0f0f0;
}

.navbar .mid .fa-microphone {
  margin-left: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: #f0f0f0;
}

.navbar .end {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.navbar .end i {
  font-size: 24px;
  margin: 0 16px;
}

.navbar .end .avatar {
  -o-object-fit: cover;
     object-fit: cover;
  border: 1px solid #7a7a7a;
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

.contaniner {
  height: calc(100vh-50px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contaniner .side-bar {
  -webkit-box-shadow: 1px 0 8px #88888864;
          box-shadow: 1px 0 8px #88888864;
  height: calc(100vh - 50px);
  width: 60px;
  -webkit-transition: .3s;
  transition: .3s;
  overflow: hidden;
}

.contaniner .side-bar.active {
  width: 250px;
}

.contaniner .side-bar ul {
  color: #34495e;
  margin: 3px;
}

.contaniner .side-bar ul hr {
  margin: 0 auto;
  width: 90%;
}

.contaniner .side-bar ul .item-side-bar {
  margin: 8px;
  overflow: hidden;
}

.contaniner .side-bar ul .item-side-bar a {
  text-decoration: none;
}

.contaniner .side-bar ul .item-side-bar a .item-box {
  white-space: nowrap;
  padding: 8px;
  text-align: start;
  color: #34495e;
  -webkit-transition: .3s;
  transition: .3s;
  border-radius: 6px;
}

.contaniner .side-bar ul .item-side-bar a .item-box:hover {
  background-color: #d7d7d7;
}

.contaniner .side-bar ul .item-side-bar a .fa-solid {
  font-size: 20px;
  margin-right: 8px;
}

.contaniner .body {
  overflow: scroll;
  width: 100%;
}

.contaniner .body .abc {
  padding: 8px;
  margin-left: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contaniner .body .abc .item-abc {
  cursor: pointer;
  border-radius: 16px;
  margin: 0 8px;
  background-color: #ededed;
  padding: 3px 16px;
  border: 1px solid #e3e3e3;
  -webkit-transition: .3s;
  transition: .3s;
}

.contaniner .body .abc .item-abc.active {
  background-color: #0b0b0b;
  color: white;
}

.contaniner .body .list-video-contanier ul {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 25% 25% 25% 25%;
      grid-template-columns: 25% 25% 25% 25%;
}

.contaniner .body .list-video-contanier ul .box-video {
  margin: 8px;
  width: 300px;
  padding: 8px;
}

.contaniner .body .list-video-contanier ul .box-video .thumbnail {
  width: 300px;
}

.contaniner .body .list-video-contanier ul .box-video .title {
  padding: 4px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.contaniner .body .list-video-contanier ul .box-video .title .tittle {
  font-weight: 500;
  font-size: 14px;
}

.contaniner .body .list-video-contanier ul .box-video .title .channel-cover {
  white-space: normal;
  margin-right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.contaniner .body .list-video-contanier ul .box-video .title .child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contaniner .body .list-video-contanier ul .box-video .title .child p {
  margin: 0;
  padding: 0;
}

.contaniner .body .list-video-contanier ul .box-video .title .child .chanel-name,
.contaniner .body .list-video-contanier ul .box-video .title .child .detail {
  font-style: normal;
  font-size: 12px;
}
/*# sourceMappingURL=index.css.map */