* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #ffffff;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.navbar {
    justify-content: space-between;
    display: flex;
    align-items: center;
    padding-left: 16px;
    max-height: 50px;
    box-shadow: 0px 1px 1px #88888864;



    .right {
        display: flex;
        align-items: center;
        justify-content: center;

        .menu-toggle-bar {
            margin-right: 16px;
            color: #34495e;
            font-size: 20px;
        }

        .logo {
            color: white;
            margin-left: 10px;
            height: 30px;
        }
    }

    .mid {
        border-radius: 2px;
        display: flex;
        align-items: center;

        .search-box {
            width: 400px;
            justify-content: space-between;
            padding: 0;
            margin: 0;
            border: 1px solid #dadadb;
            display: flex;

            input {
                padding: 6px;
                height: 35px;
                border: none;
            }

            .fa-solid {
                justify-content: center;
                align-items: center;
                display: flex;
                height: 35px;
                width: 50px;
                color: rgb(92, 92, 92);
                background-color: rgb(240, 240, 240);
            }
        }

        .fa-microphone {
            margin-left: 8px;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 35px;
            height: 35px;
            border-radius: 50%;
            background-color: rgb(240, 240, 240);
        }


    }

    .end {
        display: flex;
        align-items: center;
        justify-content: space-around;

        i {
            font-size: 24px;
            margin: 0 16px;
        }

        .avatar {
            object-fit: cover;
            border: 1px solid rgb(122, 122, 122);
            width: 35px;
            height: 35px;
            border-radius: 50%;
        }
    }
}

.contaniner {
    height: calc(100vh-50px);
    display: flex;

    .side-bar {
        box-shadow: 1px 0 8px #88888864;
        height: calc(100vh - 50px);
        width: 60px;
        transition: .3s;
        overflow: hidden;


        &.active {
            width: 250px;
        }

        ul {
            color: #34495e;
            margin: 3px;

            hr {
                margin: 0 auto;
                width: 90%;
            }

            .item-side-bar {
                margin: 8px;
                overflow: hidden;

                a {
                    text-decoration: none;

                    .item-box {
                        white-space: nowrap;
                        padding: 8px;
                        text-align: start;
                        color: #34495e;
                        transition: .3s;
                        border-radius: 6px;

                        &:hover {
                            background-color: #d7d7d7;
                        }
                    }

                    .fa-solid {
                        font-size: 20px;
                        margin-right: 8px;
                    }
                }
            }
        }
    }

    .body {
        overflow: scroll;
        width: 100%;

        .abc {
            padding: 8px;
            margin-left: 16px;
            display: flex;
            align-items: center;

            .item-abc {
                cursor: pointer;
                border-radius: 16px;
                margin: 0 8px;
                background-color: #ededed;
                padding: 3px 16px;
                border: 1px solid rgb(227, 227, 227);
                transition: .3s;

                &.active {
                    background-color: #0b0b0b;
                    color: white;
                }
            }
        }

        .list-video-contanier {

            ul {
                display: grid;
                grid-template-columns: 25% 25% 25% 25%;

                .box-video {
                    margin: 8px;
                    width: 300px;
                    padding: 8px;

                    .thumbnail {
                        width: 300px;
                    }

                    .title {
                        padding: 4px 0;
                        display: flex;
                        flex-direction: row;

                        .tittle {
                            font-weight: 500;
                            font-size: 14px;
                        }

                        .channel-cover {
                            white-space: normal;
                            margin-right: 8px;
                            width: 30px;
                            height: 30px;
                            border-radius: 50%;
                        }

                        .child {
                            display: flex;
                            flex-direction: column;

                            p {
                                margin: 0;
                                padding: 0;
                            }

                            .chanel-name,
                            .detail {
                                font-style: normal;
                                font-size: 12px;
                            }
                        }
                    }

                }
            }


        }
    }
}